asgiref==3.2.10
attrs==20.1.0
base58==2.0.1
bitarray==1.2.2
certifi==2020.6.20
chardet==3.0.4
cytoolz==0.10.1
dj-database-url==0.5.0
Django==3.1
eth-abi==2.1.1
eth-account==0.5.2
eth-hash==0.2.0
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.1.2
eth-typing==2.2.1
eth-utils==1.9.4
gunicorn==20.0.4
hexbytes==0.2.1
idna==2.10
ipfshttpclient==0.6.0.post1
jsonschema==3.2.0
lru-dict==1.1.6
multiaddr==0.0.9
netaddr==0.8.0
parsimonious==0.8.1
protobuf==3.13.0
pycryptodome==3.9.8
pyrsistent==0.16.0
python-decouple==3.3
pytz==2020.1
requests==2.24.0
rlp==1.2.0
six==1.15.0
sqlparse==0.3.1
toolz==0.10.0
urllib3==1.25.10
varint==1.0.2
web3==5.12.0
websockets==8.1
