{% extends 'base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Informacje ze świata kryptowalut!</h1>
      <p class="lead">Znajdziesz tu najnowsze ciekawostki związane z kryptowalutami.</p>
    </div>
  </div>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/EYjpLoQpd70" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
<br><br/>

{% for x in event_cal.body %}

<img src="{{ x.proof }}" class="rounded mx-auto d-block img-fluid"  alt="Responsive image" >
<h1> {{ x.proof }}</h1>

{% endfor %}

<div class="table-responsive">
<table class="table table-striped table-bordered table-hover">
<thead>
    <tr>
      <th scope="col">Krytowaluta</th>
      <th scope="col">Aktualny kurs</th>
      <th scope="col">Dzisiejsza najwysza wartość</th>
      <th scope="col">Dzisiejsza najnisza wartość</th>
      <th scope="col">Marketcap</th>
    </tr>
  </thead>
  <tbody>
{% for key, value in price.DISPLAY.items %}

      <tr>
        <td>{{ key }}</td>
        <td>{{ value.PLN.PRICE }}</td>
        <td>{{ value.PLN.HIGHDAY }}</td>
        <td>{{ value.PLN.LOWDAY }}</td>
        <td>{{ value.PLN.MKTCAP }}</td>
      </tr>
      </tr>
{% endfor %}
    </tbody>
  </table>
</div>


<br/><br/>





<div class="container">
    <div class="row">
        {% for x in api.Data %}
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="{{ x.imageurl }}" class="card-img-top" alt=" {{ x.suurce }}">
                <div class="card-body">
                <h5 class="card-title">{{ x.title }}</h5>
                <p class="card-text">{{ x.body }}</p>  <!-- przyciąć do kilku znaków np.: 50 znaków -->
                <a href=" {{ x.url }}" class="btn btn-primary">Przeczytaj artykuł....</a>
                </div>
            </div>
        </div>        
        {% endfor %}
    </div>
</div>


{% endblock %}