{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="row">
        {% for x in api.Data %}
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="{{ x.imageurl }}" class="card-img-top" alt=" {{ x.suurce }}">
                <div class="card-body">
                <h5 class="card-title">{{ x.title }}</h5>
                <p class="card-text">{{ x.body }}</p>  <!-- przyciąć do kilku znaków np.: 50 znaków -->
                <a href=" {{ x.url }}" class="btn btn-primary">Przeczytaj artykuł....</a>
                </div>
            </div>
        </div>        
        {% endfor %}
    </div>
</div>



{% endblock %}